<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <%= nav_bar :fixed => :top, brand: 'Case number: ' + @case.CaseNumber, :responsive => true %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Date Opened</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @case.Date_Opened__c %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Date Closed</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @case.Date_Closed__c %></p>
    </div>
  </div>
  <% %i(Subject Priority Description Status Origin).each do |a| %>
    <div class="form-group">
      <label class="col-sm-2 control-label"><%= a.to_s %></label>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @case.send(a) %></p>
      </div>
    </div>
  <% end %>
</form>