<!--
  Copyright © notice: Nissan Motor Company.
  ======================================================
  Purpose
  HTML partial page for multiple Case objects view -
  generates table for Case objects with a specific type
  ======================================================
  History

  VERSION AUTHOR DATE DETAIL
  1.0 Halitskaya Victoria 01/06/2015 Created
-->

<h2><%= case_type %>&nbsp;Cases</h2>
<table class="table table-bordered">
	<th>Case</th>
	<th>Contact Name</th>
	<th>Subject</th>
	<th>Priority</th>
	<th>Date Opened</th>
	<th>Status</th>
	<% @cases[case_type.downcase].each do |c| %>
			<tr>
			<td><%= link_to c.CaseNumber, show_case_path(c.CaseNumber) %></td>
			<td><%= c.ContactId %></td>
			<td><%= c.Subject %></td>
			<td><%= c.Priority %></td>
			<td><%= c.Date_Opened__c %></td>
			<td><%= c.Status %></td>
		</tr>
	<% end %>
</table>